$border: 1px solid #eee;

.table {
  border: $border;
  border-radius: 5px;
  font-size: 0.9em;
  color: #666;

  .row {
    &:not(:last-child) {
      border-bottom: $border;
    }

    .cell {
      padding: 5px;
      &:not(:last-child) {
        border-right: $border;
      }

      &:nth-child(2) {
        max-width: 150px;
      }
    }
    &.header {
      background-color: #e2d9f5;

      .cell {
        font-weight: bold;
      }
    }
  }
}

.form {
  padding-top: 25px;
}
